<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        .right {
            text-align: right;
        }
    </style>
    <title>하나 연차관리 프로그램</title>
</head>
<body>
<div style="display:flex">
    <h2>하나 연차관리 프로그램</h2>

</div>
<hr>

<form action="/simple_search" method="post">
    <table>
        <tr>
            <th>입사일</th>
            <td><input type="text" name="hireDate" id = "hireDate" placeholder="yyyy-MM-dd"></td>
        </tr>
        <tr>
            <th>사용한연차</th>
            <td><input type="text" name="usedVacation" id = "usedVacation" placeholder="1,2,15..."></td>
        </tr>
    </table>
    <button class="btn btn btn-primary">검색</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</body>
</html>
